.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 2rem;
  /* background-color: #fff; */
  border-bottom: 1px solid #e0e0e0;
  padding: 0.5rem 2rem;
  /* A subtle gradient for a modern look */
  background: linear-gradient(to bottom, #1aa7ec, #fff9f3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-left {
  flex: 1;
  display: flex;
  justify-content: center;
}

.logo {
  height: 70px;
  width: auto;
  mix-blend-mode: multiply;
}

.header-center {
  flex: 2;
  display: flex;
  justify-content: center;
}

.search-container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.search-bar {
  width: 100%;
  padding: 0.5rem 2.5rem 0.5rem 1rem; /* Added right padding */
  border: 1px solid #fff9f3;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  background-color: #fff9f3;
  color: #1aa7ec;
  box-sizing: border-box; /* Ensures padding is included in the element's total width */
}

.search-icon {
  position: absolute; /* Keep absolute positioning */
  right: 10px; /* Move icon from the right edge */
  top: 50%;
  transform: translateY(-50%);
  color: #1aa7ec;
  pointer-events: none;
}

.search-bar:focus {
  border-color: #7d99aa;
  box-shadow: 0 0 0 1px #7d99aa;
}

.header-right {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 0.25rem;
  align-items: center;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: color 0.3s;
  color: rgb(65 64 64);
}

.icon-placeholder:hover {
  color: #7d99aa;
}

.separator {
  width: 2px;
  height: 30px;
  background-color: #464646;
  margin: 0 0.4rem;
  flex-shrink: 0;
}



.sub-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 7%;
  background-color: #fff9f3;
  padding: 0.75rem 7%;
  /* background-color: #f8f5ef; */
  color: black;
  font-weight: bold;
  border-color: 1px solid #000000;
  border-bottom: 1px solid #e0e0e0;
}

.sub-header-left {
  display: flex;
  align-items: center;
}

.sub-header-center {
  display: flex;
  gap: 2rem;
}

.sub-header-center a {
  color: black;
  text-decoration: none;
  transition: color 0.3s;
}

.sub-header-center a:hover {
  color: #0d6e9e;
}

.sub-header-right {
  display: flex;
  align-items: center;
}
.category-button{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #1AA7EC; 
  border: 1px solid #ffffff; 
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  /* opacity: 0.7; */
  transition: opacity 0.3s;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-left: 6px;

}

.deals-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #1AA7EC;
  border: 1px solid #ffffff;
  color: #FFCC66;
  padding: 0.9rem 2rem;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  /* opacity: 0.7; */
  transition: opacity 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.category-menu-item {
  display: flex;
  margin: 0 16px;
  border-radius: 4px;
  gap: 0.75rem;
}

.MuiMenu-list .category-menu-item:hover {
  width: 90%;
  border-radius: 5px;
  margin-left: 5%;
  /* width: 90%;
  border-radius: 5px;
  margin-left: 5%; */
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.MuiMenu-list .category-menu-item:hover .MuiSvgIcon-root {
  color: white;
}

.category-menu-paper {
  width: 215px;
  background-color: rgba(255, 255, 255, 0.6) !important; /* White background with 75% opacity */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); /* For Safari */
}

.sub-menu-icon {
  margin-right: 0.5rem;
  cursor: pointer;
}

.hamburger-menu {
  display: none !important;
  cursor: pointer;
  margin-right: 1rem;
}
@media (max-width: 1200px) {
  .sub-header {
    padding: 0.5rem 2%;
  }
}

@media (max-width: 992px) {
  .header {
    padding: 0.5rem 1rem;
    position: relative;
  }

  .header-left {
    flex: 1;
  }

  .hamburger-menu {
    display: block !important;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(65 64 64);
  }

  .logo {
    height: 50px;
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .header-center {
    display: none;
  }

  .header-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  .icon-placeholder {
    display: none;
  }

  .icon-placeholder:last-child {
    display: flex;
  }

  .separator {
    display: none;
  }

  .sub-header {
    display: none;
  }
}

/* Modal Styles */
.modal-backdrop {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); /* For Safari */
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  background-color: rgba(51, 90, 118, 0.4); 
  border: 1px solid #ffffff;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  position: relative; /* Added to position the close button relative to the modal box */
  flex-direction: column;
  align-items: center;
}

.modal-header {
  text-align: center;
  margin-bottom: 1.75rem;
  font-weight: 500;
  font-size: 1.5rem!important;
  line-height: 4rem !important;
  color: #ffffff; /* Changed header color to teal */
}

.modal-close-button {
  position: absolute !important;
  top: 8px;
  right: 8px;
  color: #ffffff !important;
}

.modal-close-button:hover {
  background-color: rgba(0, 0, 0, 0.08) !important;
  color: #000 !important;
}

.submit-button {
  margin-top: 1rem !important;
  background-color: #006666 !important;
}

.submit-button:hover {
  background-color: #004d4d !important;
}

.cart-badge .MuiBadge-badge {
  background-color: #FFCC66;
}

/* Login Textfield Styles */
.login-textfield .MuiOutlinedInput-input {
  color: white; /* Input text color */
}

.login-textfield .MuiInputLabel-root {
  color: white; /* Label color */
}

.login-textfield .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: white; /* Border color */
}

.login-textfield .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: white; /* Border color on hover */
}

.login-textfield .MuiInputLabel-root.Mui-focused {
  color: white; /* Label color when focused */
}

.remember-me-label {
  color: white;
  align-self: flex-start; /* Align checkbox to the left */
}

/* Profile Dropdown Styles */
.profile-menu-paper {
  background-color: rgba(255, 255, 255, 0.701) !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important;
  border-radius: 4px !important;
  border: 1px solid #eee !important;
  width: 214px;
  margin-top: 8px;
}

.profile-menu-item {
  display: flex;
  align-items: center;
  padding: 10px 16px !important;
  cursor: pointer;
  color: #333 !important;
  font-size: 14px !important;
  transition: all 0.2s;
}

.profile-menu-item:hover {
  background-color: #3e3e3ed1 !important;
  border-radius: 5px;
  width: 76%;
  margin-left: 4% !important;
  color: #FFCC66 !important;
}

.profile-menu-item svg {
  margin-right: 12px;
  color: #666;
}

.profile-menu-item:hover svg {
  color: #FFCC66;
}
