.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 2rem;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-left {
  flex: 1;
  display: flex;
  justify-content: center;
}

.logo {
  height: 70px;
  width: auto;
}

.header-center {
  flex: 2;
  display: flex;
  justify-content: center;
}

.search-container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.search-bar {
  width: 100%;
  padding: 0.5rem 0rem 0.5rem 1rem;
  border: 1px solid #006666;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  background-color: white;
  color: #006666;
}

.search-icon {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  color: #006666;
  pointer-events: none;
}

.search-bar:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.header-right {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 0.25rem;
  align-items: center;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: color 0.3s;
  color: rgb(65 64 64);
}

.icon-placeholder:hover {
  color: #006666;
}

.separator {
  width: 1px;
  height: 30px;
  background-color: #ccc;
  margin: 0 0.5rem;
}

.sub-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 7%;
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: bold;
  border-color: 1px solid #000000;
}

.sub-header-left {
  display: flex;
  align-items: center;
}

.sub-header-center {
  display: flex;
  gap: 2rem;
}

.sub-header-center a {
  color: black;
  text-decoration: none;
  transition: color 0.3s;
}

.sub-header-center a:hover {
  color: #0d6e9e;
}

.sub-header-right {
  display: flex;
  align-items: center;
}
.category-button{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #272727;
  border: 2px solid #000000;
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  /* opacity: 0.7; */
  transition: opacity 0.3s;
  margin-left: 6px;
}

.deals-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #03b6c3;
  border: 1px solid #03b6c3;
  color: rgb(255, 228, 84);
  padding: 0.9rem 2rem;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  /* opacity: 0.7; */
  transition: opacity 0.3s;
}

.category-menu-item {
  display: flex;
  gap: 0.75rem;
}

.sub-menu-icon {
  margin-right: 0.5rem;
  cursor: pointer;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  margin-right: 1rem;
}
@media (max-width: 1200px) {
  .sub-header {
    padding: 0.5rem 2%;
  }
}

@media (max-width: 992px) {
  .header {
    padding: 0.5rem 1rem;
    position: relative;
  }

  .header-left {
    flex: 1;
  }

  .hamburger-menu {
    display: block;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(65 64 64);
  }

  .logo {
    height: 50px;
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .header-center {
    display: none;
  }

  .header-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  .icon-placeholder {
    display: none;
  }

  .icon-placeholder:last-child {
    display: flex;
  }

  .separator {
    display: none;
  }

  .sub-header {
    display: none;
  }
}

/* Modal Styles */
.modal-backdrop {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); /* For Safari */
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  background-color: rgba(255, 255, 255, 0.4); 
  border: 2px solid #006666;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  position: relative; /* Added to position the close button relative to the modal box */
  flex-direction: column;
  align-items: center;
}

.modal-header {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #045555; /* Changed header color to teal */
}

.modal-close-button {
  position: absolute !important;
  top: 8px;
  right: 8px;
  color: #313131 !important;
}

.modal-close-button:hover {
  background-color: rgba(0, 0, 0, 0.08) !important;
  color: #000 !important;
}

.submit-button {
  margin-top: 1rem !important;
  background-color: #006666 !important;
}

.submit-button:hover {
  background-color: #004d4d !important;
}

.cart-badge .MuiBadge-badge {
  background-color: #03b6c3;
}

/* Login Textfield Styles */
.login-textfield .MuiOutlinedInput-input {
  color: white; /* Input text color */
}

.login-textfield .MuiInputLabel-root {
  color: white; /* Label color */
}

.login-textfield .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: white; /* Border color */
}

.login-textfield .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: white; /* Border color on hover */
}

.login-textfield .MuiInputLabel-root.Mui-focused {
  color: white; /* Label color when focused */
}
