.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 9999;
}

.outer {
  width: 80px;
  height: 80px;
  border-radius: 80px 0 0 80px;
  border-left: solid 5px #193c7d ;
  -webkit-animation-name:             spin; 
  -webkit-animation-duration:         1s; 
  -webkit-animation-iteration-count:  infinite;
  -webkit-animation-timing-function:  linear;
}

.mid {
  top: 15px;
  left: 15px;
  position: relative; 
  width: 50px;
  height: 50px;
  border-radius: 50px 0 0 50px;
  border-left: solid 5px #1432b7; 
  -webkit-animation-name:             spin; 
  -webkit-animation-duration:         3s; 
  -webkit-animation-iteration-count:  infinite;
  -webkit-animation-timing-function:  linear;
}

@-webkit-keyframes spin {
  from { -webkit-transform:rotate(0deg) } 
  to { -webkit-transform:rotate(360deg) } 
}
@-moz-keyframes spin {
  from { -webkit-transform:rotate(0deg) } 
  to { -webkit-transform:rotate(360deg) }   
}
@-o-keyframes spin {
  from { -webkit-transform:rotate(0deg) } 
  to { -webkit-transform:rotate(360deg) }   
}
@keyframes spin {
  from { -webkit-transform:rotate(0deg) } 
to { -webkit-transform:rotate(360deg) }   
}