.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Merriweather', serif;
  padding: 1rem;
  background-color: white;
  min-height: calc(100vh - 200px); /* Adjust based on header/footer height */
  box-sizing: border-box;
}

.not-found-image {
  width: 100%;
  max-width: 500px;
  margin-bottom: 2rem;
  background-color: white;
}

.not-found-container h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.not-found-container p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 2rem;
}

.go-home-button {
  background-color: #006666;
  color: white !important;
  padding: 1rem 2rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.go-home-button:hover {
  background-color: #004d4d;
}